    body {background-color: black;}
    h1 {color:chartreuse;}
    h2 {color:aqua;}
    p {color: aquamarine;}
    button {color: aquamarine;
    border-color: blueviolet;
    background-color: black;}